<br><br><br><br><br>
<div class="container" ng-controller="FriendController">
	<div class="row">
		<div class="main">
		Friend		
		</div>
	</div>

<div class="row text-center text-lg-left">showFriends
	<div ng-repeat="friend in showFriends" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div ng-show="friend.username==currentUser.username">
			<img src="http://localhost:8080/CollMiddleware/getImage/{{friend.friendusername}}" width="50px" height="50px">
			<p>
			<strong>{{friend.friendusername}}</strong>
			<input type="button" value="Unfriend" ng-click="unfriend(friend.friendId)">
			</p>
		</div>
		<div ng-show="friend.friendusername==currentUser.username">
			<img src="http://localhost:8080/CollMiddleware/getImage/{{friend.username}}" width="50px" height="50px">
			<p>
			<strong>{{friend.friendusername}}</strong>
			<input type="button" value="Unfriend" ng-click="unfriend(friend.friendId)">
			</p>
		</div>
		</div>
</div>
<br><br><br><br><br>
<div class="row text-center text-lg-left">Pending Friends
		<div ng-repeat="friend in friendRequests" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div ng-show="friend.friendusername==currentUser.username">
			<img src="http://localhost:8080/CollMiddleware/getImage/{{friend.username}}"  width="50px" height="50px">
			<p>
			<strong>{{friend.friendusername}}</strong>
			<input type="button" value="Unfriend" ng-click="unfriend(friend.friendId)">
			</p>
		</div>
	</div>
</div>
<br><br><br><br><br>
<div class="row text-center text-lg-left">suggestedFriends
	<div ng-repeat="friend in suggestedFriends" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div>
			<img src="http://localhost:8080/CollMiddleware/getImage/{{friend.username}}"  width="50px" height="50px">
			<p>
			<strong>{{friend.username}}</strong>
			<input type="button" value="send" ng-click="sendRequest(friend.username)">
			
			</p>
		</div>
	</div>
</div>
</div>

</div>